*,
*::before,
*::after {
    box-sizing: border-box;
}

       /* 16px = 1rem */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.312rem;
}

h1 {
    /* font-size: 3rem; */
 } 
 


.part {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border: 2px dashed yellow;
    
}   

.container {
    padding: 100px 0;
    background: #23424A;
    color: #ffffff;
    border: 3px solid salmon;
}

.content {
    border: 3px ridge red;
    width: 60%;
}

.container p {
    margin-bottom: 2em;
}


a:link {
    display: inline-block;
    color: #072A2D;
    background: #38CFD9;
    text-transform: uppercase;
    text-decoration: none;
    padding: .6em 1.8em;
    border-radius: 100px;
    font-size: .7em;
}

 a:hover {
    /* display: inline-block; */
    box-shadow: 10px 10px 0px #ff96ad;
    top: -5px;
    left: -5px;
    text-decoration: underline;
    color: white;
    /* background: steelblue; */
    padding: 1em 2em;
} 

.were {
    /* height: 30%; */
}

